@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;
}
body{
    background: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}
main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.Formulario{
    display: grid;
    gap: 20px;
}

label{
    display: block;
    font-weight: 700;
    padding: 10px;
    min-height: 40px;
    cursor: pointer;
}
.Input{
    position: relative;
    z-index: 90;
}
input{
    width: 100%;
    background: #fff;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    border: 3px solid transparent;
}
input:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0,4);
}
input:active{
    border: 3px solid #bb2929 ;
} 

.error{
    font-size: 12px;
    margin-bottom: 0;
    color: #bb2929;
    display: none;
}

.IconValidation{
    position: absolute;
    right: 10px;
    bottom: 30px;
    z-index: 100;
    font-size: 20px;
    opacity: 0;
}

#terminos{
    width: 10px;
    margin-right: 10px;
}
.TerminosyCondiciones{
   grid-column: span 2; 
}

.enviar{
    display:flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
}
#botonEnviar{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1 ease all;
}
button:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.mensajeExito{
    font-size: 14px;
    color: #1ed12d;
    display: none;
}

.mensajeError{
    height: 45px;
    line-height: 45px;
    background: #bb2929;
    padding: 0px 15px;
    border-radius: 3px;
    grid-column: span 2;
}
p{
    margin: 0;
}
b{
    margin-left: 10px;
}